.container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h1 {
  color: #323732;
  font-size: 30px;
  padding: 16px;
  margin: auto;
  width: 800px;
}
.h2 {
  padding-top: 10px;
  color: #323732;
  text-decoration: underline;
  font-size: 24px;
}

.addGuest {
  color: #fff;
  background-color: #fffadd;
  padding: 16px;
  margin: auto;
  width: 700px;
  height: auto;
  border-radius: 8px;
}

.addGuest label {
  width: 600px;
  display: flex;
  margin: auto;
  padding: 14px;
  flex-direction: column;
}

.firstName {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.lastName {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  display: flex;
  margin: auto;
  background-color: #662549;
  color: white;
  padding: 16px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #494848;
}

.removeButton {
  margin-top: 16px;
  margin-bottom: 10px;
  width: 128px;
  background-color: #662549;
  color: white;
  margin-left: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.removeButton:hover {
  background-color: #494848;
}

.guestList {
  display: flex;
  display: border-box;
  margin-top: 16px;
  gap: 32px;
  width: 600px;
}

.guestFullName span {
  padding-right: 16px;
}
.guestFullName {
  margin: auto;
  margin-bottom: 10px;
  padding: 16px;
  width: 532px;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  background-color: #662549;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.attendingButton {
  width: 400px;
  background-color: #662549;
  color: white;
  padding: 16px 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.attendingButton:hover {
  background-color: #494848;
}
